/*#Section1
{
	
	min-height: 710px;
background-color: blue;
}*/
/*This section is for the MBRS & MARC U Star Home page*/
#HomeMS_Section1
{
	
	min-height: 710px;
background-color: rgba(0, 41, 88, 0.901961);
}
#HomeMS_Section2
{
	
	height: 600px;
background-color: #e1dcd2;
}
#HomeMS_Section4
{
	
	height: 715px;
background-color: black;
}
.HomeMS_Sec1_imgs
{

	height: 250px;
	width: 250px;
}
##HomeMS_Title/*regular style of text*/
{
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	margin-top: 50px;
	font-size: 72px; 
	color: rgba(0, 41, 88, 0.901961);


}

/*#Mbrs_H1_Title
{
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	margin-top: 20px;
	padding-left: 290px;
	font-size: 72px; 
	color: rgba(0, 41, 88, 0.901961);

}*/
/*#Mbrs_TitleDiv
{
	border-top: 23px solid;
	border-bottom: 23px solid;
	
	border-color: #c5960c;
}*/
/*#Mbrs_TitlePos
{
	margin-top: -20px;
	position: inherit;
	
}*/
#Mbrs_Section2
{
	height:300px;
}
/*#Mbrs_TitleImg
{
	max-height: 100px;
	max-width: 200px;
	margin-left: 30px;
	margin-top: 5px;
	position: relative;
	float: left;
}*/
.HomeMS_Sect1_ButtAlign
{
	margin-top: 20px;
}
#HomeMS_Sec1_Title 
{
	background-color: #c5960c;
 	margin-bottom: 20px;
}

#HomeMS_SectionCent
{
	margin: 0px;
}
#HomeMS_Sec1Color
{
	color: #c5960c;

}

.HomeMS_Sect1_Arrows
{	  
	padding: 0px;
	margin: 0px;
	font-size: 40px;
	display: block;
	
}
.HomeMS_Sect1_Arrows:hover
{
	color: rgba(226, 187, 70, 0.901961);
}
#HomeMS_Sec1_Link
{

	text-decoration: none;
}
#HomeMS_Sect2_img1
{
	
	height: 350px;
	width: 400px;
	float: left;
	margin-right: 5px;

}


/*Media queries section*/
/*for these first two media queries play around with them so that the title only takes up two lines do this by
increasing or reducing the size of the fonts*/
@media only screen and (min-width: 1080px)
{
	#HomeMS_Title
	{
		font-size: 62px;
		color: rgba(0, 41, 88, 0.901961);
	}
	#HomeMS_Sec1_Title 
	{
	 
	 margin-bottom: 40px;
	}
}
@media only screen and (max-width: 1000px) and (max-width: 1079px)
{
	#HomeMS_Title
	{
		font-size: 55px;
		color: rgba(0, 41, 88, 0.901961);
	}
	#HomeMS_Sec1_Title 
	{
	 
	 margin-bottom: 40px;
	}
}
@media only screen and (max-width: 875px)
{
	#HomeMS_Title
	{
		font-size: 45px;
		color: rgba(0, 41, 88, 0.901961);
	}

	/*this part below will be if i actually use this top heading part*/
	/*#Mbrs_H1_Title
	{
		font-size: 45px;
	}
	#Mbrs_TitleImg
	{
		max-height: 80px;
		max-width: 160px;
	}
	#HomeMS_Sec1_Title 
	{*/
	 
	 margin-bottom: 40px;
	}
}
@media only screen and (max-width: 675px)
{
	#HomeMS_Title
	{
		font-size: 35px;
		color: rgba(0, 41, 88, 0.901961);
	}
	#HomeMS_Sec1_Title 
	{
	 
	 margin-bottom: 40px;
	}
}
@media only screen and (max-width: 580px)
{
	#HomeMS_Title
	{
		font-size: 25px;
		color: rgba(0, 41, 88, 0.901961);
	}
	#HomeMS_Sec1_Title 
	{
	 
	 margin-bottom: 40px;
	}
}
@media only screen and (max-width: 380px)
{
	#HomeMS_Title
	{
		font-size: 20px;
		color: rgba(0, 41, 88, 0.901961);
	}
	#HomeMS_Sec1_Title 
	{
	 
	 margin-bottom: 40px;
	}
}

.thumbnail-list {
  list-style: none;
  margin: 0 auto;  padding: 0;

}

.thumbnail-list li {
	float:left;
	display:inline;
	margin: 0 auto;
}

.thumbnail-list a {
  text-decoration: none;
  color: inherit;
}

.thumbnail-list .image-w {
  display: block;
  position: relative;
  width: 14em;
}

.image-w img {
  display: block;
  width: 180px;
  height: 250px;
}

.cover {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0);
  text-align: center;
  transition: all 1s linear;
}

.thumbnail-list a:hover .cover {
  background-color: rgba(0,0,0,.8);
  color: rgba(255,255,255,1);
  transition: all .2s linear;
}

.thumbnail-list a:hover h3 {

  color: #c5960c;
}

.thumbnail-list h3 {
  font-size: 1em;
}

.thumbnail-list p {
  font-size: .9em;
}
.thumbnail-list li {
	float:left;
	display:inline;
	margin: 0 auto;
}

.thumbnail-list a {
  text-decoration: none;
  color: inherit;
}

.thumbnail-list .image-w {
  display: block;
  position: relative;
  width: 14em;
}

.image-w img {
  display: block;
  width: 180px;
  height: 250px;
}

.cover {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0);
  text-align: center;
  transition: all 1s linear;
}

.thumbnail-list a:hover .cover {
  background-color: rgba(0,0,0,.8);
  color: rgba(255,255,255,1);
  transition: all .2s linear;
}

.thumbnail-list a:hover h3 {

  color: #c5960c;
}

.thumbnail-list h3 {
  font-size: 1em;
}

.thumbnail-list p {
  font-size: .9em;
}

    #profiles {float:left; background-color:black; width:100%;text-align:left; top:450px;left:180px; color:white;}
    .show {display:block; width:600px;}
    .hide {display:none;}
    .biopic {float:left; margin-right:30px; margin-left:10px; margin-bottom:10px; width:250px; height:350px; border-style:solid; border-color:#c5960c;clear:left;}
    .biostext {display:block; margin-left:15px; font-family:Georgia, serif; clear:right;}
    #bioLinks {float:left; display:block; font-family:Georgia, serif; margin-top:15px; margin-left: 20px;clear:right;}
    .link {font-family:Georgia,serif; color:#0000ff; text-decoration:none;}

#top{
	display:block;

}

#bottom{
	display:block;
}

