/*#Section1
{
	
	min-height: 710px;
background-color: blue;
}*/
/*This section is for the MBRS & MARC U Star Home page*/
#HomeMS_Section1
{
	
	min-height: 710px;
background-color: rgba(0, 41, 88, 0.901961);
}
#HomeMS_Section2
{
	
	height: 600px;
background-color: #e1dcd2;
}
#HomeMS_Section4
{
	
	height: 715px;
background-color: black;
}
.HomeMS_Sec1_imgs
{

	height: 250px;
	width: 250px;
}
##HomeMS_Title/*regular style of text*/
{
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	margin-top: 50px;
	font-size: 72px; 
	color: rgba(0, 41, 88, 0.901961);


}

/*#Mbrs_H1_Title
{
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	margin-top: 20px;
	padding-left: 290px;
	font-size: 72px; 
	color: rgba(0, 41, 88, 0.901961);

}*/
/*#Mbrs_TitleDiv
{
	border-top: 23px solid;
	border-bottom: 23px solid;
	
	border-color: #c5960c;
}*/
/*#Mbrs_TitlePos
{
	margin-top: -20px;
	position: inherit;
	
}*/
#Mbrs_Section2
{
	height:300px;
}
/*#Mbrs_TitleImg
{
	max-height: 100px;
	max-width: 200px;
	margin-left: 30px;
	margin-top: 5px;
	position: relative;
	float: left;
}*/
.HomeMS_Sect1_ButtAlign
{
	margin-top: 20px;
}
#HomeMS_Sec1_Title 
{
	background-color: #c5960c;
 	margin-bottom: 20px;
}

#HomeMS_SectionCent
{
	margin: 0px;
}
#HomeMS_Sec1Color
{
	color: #c5960c;

}

.HomeMS_Sect1_Arrows
{	  
	padding: 0px;
	margin: 0px;
	font-size: 40px;
	display: block;
	
}
.HomeMS_Sect1_Arrows:hover
{
	color: rgba(226, 187, 70, 0.901961);
}
#HomeMS_Sec1_Link
{

	text-decoration: none;
}
#HomeMS_Sect2_img1
{
	
	height: 350px;
	width: 400px;
	float: left;
	margin-right: 5px;

}


/*Media queries section*/
/*for these first two media queries play around with them so that the title only takes up two lines do this by
increasing or reducing the size of the fonts*/
@media only screen and (min-width: 1080px)
{
	#HomeMS_Title
	{
		font-size: 62px;
		color: rgba(0, 41, 88, 0.901961);
	}
	#HomeMS_Sec1_Title 
	{
	 
	 margin-bottom: 40px;
	}
}
@media only screen and (max-width: 1000px) and (max-width: 1079px)
{
	#HomeMS_Title
	{
		font-size: 55px;
		color: rgba(0, 41, 88, 0.901961);
	}
	#HomeMS_Sec1_Title 
	{
	 
	 margin-bottom: 40px;
	}
}
@media only screen and (max-width: 875px)
{
	#HomeMS_Title
	{
		font-size: 45px;
		color: rgba(0, 41, 88, 0.901961);
	}

	/*this part below will be if i actually use this top heading part*/
	/*#Mbrs_H1_Title
	{
		font-size: 45px;
	}
	#Mbrs_TitleImg
	{
		max-height: 80px;
		max-width: 160px;
	}
	#HomeMS_Sec1_Title 
	{*/
	 
	 margin-bottom: 40px;
	}
}
@media only screen and (max-width: 675px)
{
	#HomeMS_Title
	{
		font-size: 35px;
		color: rgba(0, 41, 88, 0.901961);
	}
	#HomeMS_Sec1_Title 
	{
	 
	 margin-bottom: 40px;
	}
}
@media only screen and (max-width: 580px)
{
	#HomeMS_Title
	{
		font-size: 25px;
		color: rgba(0, 41, 88, 0.901961);
	}
	#HomeMS_Sec1_Title 
	{
	 
	 margin-bottom: 40px;
	}
}
@media only screen and (max-width: 380px)
{
	#HomeMS_Title
	{
		font-size: 20px;
		color: rgba(0, 41, 88, 0.901961);
	}
	#HomeMS_Sec1_Title 
	{
	 
	 margin-bottom: 40px;
	}
}

.thumbnail-list {
  list-style: none;
  margin: 0 auto;  padding: 0;

}

.thumbnail-list li {
	float:left;
	display:inline;
	margin: 0 auto;
}

.thumbnail-list a {
  text-decoration: none;
  color: inherit;
}

.thumbnail-list .image-w {
  display: block;
  position: relative;
  width: 14em;
}

.image-w img {
  display: block;
  width: 180px;
  height: 250px;
}

.cover {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0);
  text-align: center;
  transition: all 1s linear;
}

.thumbnail-list a:hover .cover {
  background-color: rgba(0,0,0,.8);
  color: rgba(255,255,255,1);
  transition: all .2s linear;
}

.thumbnail-list a:hover h3 {

  color: #c5960c;
}

.thumbnail-list h3 {
  font-size: 1em;
}

.thumbnail-list p {
  font-size: .9em;
}

#banner-secondary { border: 1px solid black; border-bottom: 1px solid black; padding: 0 60px 60px 60px; background: black; }
#banner-secondary h2 { display: block; text-align: center; margin: 7px 0 0 0; color: white; font-size: 20px; line-height: 47px; font-weight: normal; clear: both; }

#banner-secondary .interview-tabs { width: 100%; border: none; }
#banner-secondary .interview-tabs li { width: 25%; border: none; margin: 0; }
#banner-secondary .interview-tabs li a { margin-right:0px; border: none; border-bottom: 10px solid #fff; border-radius:0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; outline: none; text-align: center; outline-offset:0; padding:0px; display:block; width:100%; position: relative; }
#banner-secondary .interview-tabs li a img { display: block; width:100%; }
#banner-secondary .interview-tabs li a span { display:block; width:100%; height:100%; background:transparent url(img/tab-cover.png) repeat scroll top left; position:absolute; top: 0; left: 0; } /* tab-cover.png is a 1x1 semitransparent grey square for the lighter shade on the non-active tabs */
#banner-secondary .interview-tabs li a:hover { border: none; }

#banner-secondary .interview-tabs li.active a { outline: none; outline-offset:0; border-bottom: 10px solid #c5960c; }
#banner-secondary .interview-tabs li.active a img { }
#banner-secondary .interview-tabs li.active a span { background:none; }
#banner-secondary .interview-tabs li.active a:hover { outline: none; outline-offset:0; border-bottom: 10px solid #c5960c; }
#banner-secondary .interview-tabs li a:hover, 
#banner-secondary .interview-tabs li a:focus, 
#banner-secondary .interview-tabs li a:active { outline: none; outline-offset:0; border-bottom: 10px solid #c5960c; }


#banner-secondary .tab-content { color: white; padding: 0; position: relative;  overflow:visible; font-size: 20px; line-height: 36px; }
#banner-secondary .tab-content h3 { margin-top: 0; }
#banner-secondary .tab-content h3 a { color: #c5960c; font-size: 22px; text-transform: uppercase; line-height: 1.3; }

#banner-secondary .profile-img { margin-right: -60px; }
#banner-secondary .profile-img img { float:right; }

#banner-secondary .tab-content .row-fluid .interviewee-info { width: 52%; }
#banner-secondary .tab-content .row-fluid .profile-img { text-align: center; }
#banner-secondary .tab-content .row-fluid .profile-img .interviewee-logo { float: none; }

#banner-secondary .quote-wrapper { padding-bottom: 25px; background: black no-repeat scroll bottom left; margin-bottom: 20px; width: 100%; }
#banner-secondary .quote-wrapper .quote-block { width: 100%; margin-left:-16px;}
#banner-secondary .quote-wrapper .tab-social { width: 100%; padding: 0; }

#banner-secondary .quote-wrapper blockquote { border: none; padding: none; font-size: 24px; line-height: 1.5em; font-family: 'Petrona', Georgia, serif; font-weight: normal; color: #333; }
#banner-secondary .quote-wrapper blockquote span { margin-left:-16px; margin-right: 7px; }
#banner-secondary .quote-wrapper .btn { float: left; margin: 20px 0 0 39px; }