/*body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}*/

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}



a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.d-tab{
    background: black;
    color: white;
}

.d-tab:hover{
    color: #28c3ab;
}


/*footer styles*/
footer{
    font-size:1em;
    color:white;
    height: 50%;
    background: #1a1111;
    bottom: 0;
    padding: 0px 100px;
    margin-bottom:-20px;
}
/*Okay for here .. i changed the nav bar so that when it reaches the screen width
of 992px thats basically when it goes into its black form.. how do i make it 
collapse to the grid form at that stage as well*/
@media(min-width:992px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}



.welcome{
    font-size: 2em;
    z-index: 359;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 41, 88, 0.901961);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.divider {

    width: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color:#c5960c;
    -webkit-background-size: cover;
    -moz-background-size: cover;s
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.banner{
    height: 45%;
    background-size: cover;
   /* padding: 30%  0px  0px 20px;*/
}

.banner h1{
    font-size: 1.5em;
    font-weight: 700;
}

/*contact page */

.contact .banner{
    background: url(http://ppcdn.500px.org/16957661/26f655836566b419e60376eab322be4ca7f4af4f/5.jpg) center no-repeat;
}

/*Assane*/
p.contact{
    color: white;
    font-size: 1em;
    margin-top: 15px;
}

p.contactinfo{
    font-size:1em;
}

/*Assane*/
#contact-footer{
    background-color: black;
    height:20%;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}



.about-us {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background-color: rgba(0, 41, 88, 0.901961);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.eligibilty
{
  width: 100%;
    padding: 50px 0;
    color: #fff;
    height: 490px;
    background-color: rgba(0, 41, 88, 0.901961);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #28c3ab;
    color: #28c3ab;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

#HomeMS_Sec1_Title 
{
    background-color: #c5960c;
    margin-bottom: 20px;
    font-weight:bold;
}

#HomeMS_Title/*regular style of text*/
{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-top: 50px;
    font-size: 72px; 
    color: rgba(0, 41, 88, 0.901961);
}
.HomeMS_Sect1_ButtAlign
{
    margin-top: 10px;
}

.HomeMS_Sec1_imgs
{
    
   height: 250px;
    width: 250px;
}
#HomeMS_Section4
{
    padding-bottom: 100px;
    height: 560px;
    width: 100%;
    background-color: rgba(0, 41, 88, 0.901961);

}
#HomeMS_Section5
{
    padding-bottom: 100px;
    height: 560px;
    width: 100%;
    background-color: rgba(0, 41, 88, 0.901961);

}
#HomeMS_Section6
{
    padding-bottom: 100px;
    height: 560px;
    width: 100%;
    background-color: rgba(0, 41, 88, 0.901961);

}
/*I'm still in testing mode for this because
of all the changes it causes to the carousel */
#Mbrs_Section1
{
    display: table;
    width: 100%;

    height: auto;
    
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#Mbrs_Section2
{
    
    display: table;
    width: 100%;
    height: auto;
    
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#Mbrs_Section3
{
    display: table;
    width: 100%;
    height: auto;
    
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
#Mbrs_Faculty
{
    
    display: table;
    width: 100%;
    height: auto;
    
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.thumbnail-list {
  list-style: none;
  margin: 0 auto;  padding: 0;

}

.thumbnail-list li {
    float:left;
    display:inline;
    margin: 0 auto;
}

.thumbnail-list a {
  text-decoration: none;
  color: inherit;
}

.thumbnail-list .image-w {
  display: block;
  position: relative;
  width: 14em;
}

.image-w img {
  display: block;
  /*width: 180px;*/
  width:auto;
  /*height: 250px;*/
  height: auto;
}

.cover {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0);
  text-align: center;
  transition: all 1s linear;
}

.thumbnail-list a:hover .cover {
  background-color: rgba(0,0,0,.8);
  color: rgba(255,255,255,1);
  transition: all .2s linear;
}

.thumbnail-list a:hover h3 {

  color: #c5960c;
}

.thumbnail-list h3 {
  font-size: 1em;
}

.thumbnail-list p {
  font-size: .9em;
}
.thumbnail-list li {
    float:left;
    display:inline;
    margin: 0 auto;
}

.thumbnail-list a {
  text-decoration: none;
  color: inherit;
}

.thumbnail-list .image-w {
  display: block;
  position: relative;
  width: 14em;
}

.image-w img {
  display: block;
  width: 180px;
 
  height: 250px;

}

.cover {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0);
  text-align: center;
  transition: all 1s linear;
}

.thumbnail-list a:hover .cover {
  background-color: rgba(0,0,0,.8);
  color: rgba(255,255,255,1);
  transition: all .2s linear;
}

.thumbnail-list a:hover h3 {

  color: #c5960c;
}

.thumbnail-list h3 {
  font-size: 1em;
}

.thumbnail-list p {
  font-size: .9em;
}

    #profiles {float:left; background-color:rgba(0, 41, 88, 0.901961); width:100%;text-align:left; top:450px;left:180px; color:white;}
    .show {display:block; width:600px;}
    .hide {display:none;}
    .biopic {float:left;margin-left:20px; margin-right:30px; width:255px; height:355px; border-style:solid; border-color:##c5960c;clear:left;}
    .biostext {display:block; margin-left:0px; font-family:Georgia, serif; clear:right;}
    #bioLinks {float:left; display:block; font-family:Georgia, serif; margin-top:15px; width:100%; margin-left: 20px;clear:right;}
    .link {font-family:Georgia,serif; color:#0000ff; text-decoration:none;}

.bottom{
    width: 100%;
    height: 100%;
}

.our_team_title{
    width: 1170px;
    padding-top: 50PX; 
    text-align: center;
}
/*carousel changes */
#Mbrs_HomeImg
{
  opacity: .3;
}
.Mbrs_IntroTextBox 
{
  z-index: 10;
  position: relative;
  margin-bottom: 160px;
  right: 0% !important;
  left: 0% !important;
}
.Mbrs_captionPos 
{
  z-index: 10;
  
  margin-bottom: 70px;
}
.Mbrs_IntroTextStyle
{
  color: #DAA520 !important;
  font-weight: bolder !important;
  font-size: 80px;
}
.Mbrs_ImgContainter
{
  z-index: 10;
  margin-top: 10%;
  right: 20%;
  position: relative;
  float: right;
  width: 100px;
}
.carousel-caption .Mbrs_CaraDesContainer
{
  z-index: 10;
  padding: 20px;
  margin-bottom:auto;
  margin-bottom: 140px;
  background-color: white;
  border-radius: 20%;
  opacity: .4;
  width: 40%;
  
  height: 40%;
}

.Mbrs_CaraDesText
{

  z-index: 11;
  color: #000000 !important;
}
.Marc_IntroTextStyle
{

  color: #DAA520 !important;
  font-weight: bolder !important;
  font-size: 80px;
}

/*end of carousel changes*/

.gloss
{
  background-image: url('../img/GlossGradient-2.png');
  position: relative;
  display: block;
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  z-index: 3;
  display: table;
    width: 100%;
    height: auto;
    
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.Welcome_Fade
{
  z-index: 15;
  background-color: #ffffff;
  opacity: .8;
  display: table;
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*Section for splitting images */
.mbrs.crop {
  width: 250px;
  height: 250px;
  border-radius: 50%
}
.mbrs.crop .image {
   background-image: url('../img/MBRS_2.jpg');
   
}

/* animations */
.crop:hover .upper.image {
  top: -30%;
}

.crop:hover .lower.image {
  bottom: -30%;
}

.crop:hover .left.image {
  left: -30%;
}

.crop:hover .right.image {
  right: -30%;
}

/* necessary bits */
.crop {
  position: relative;
  overflow: hidden;
  margin: 2em;
  background-color:#c5960c;
}

.crop .content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.crop .image {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.crop .upper.image, .crop .lower.image {
  height: 50%;
}

.crop .left.image, .crop .right.image {
  width: 50%;
}

.crop .upper.image {
  top: 0;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  -ms-transition: top 0.3s ease;
  transition: top 0.3s ease;
}

.crop .lower.image {
  bottom: 0;
  background-position: 0% 100%;
  -webkit-transition: bottom 0.3s ease;
  -moz-transition: bottom 0.3s ease;
  -o-transition: bottom 0.3s ease;
  -ms-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
}

.crop .left.image {
  left: 0;
  background-position: 0% 50%;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.crop .right.image {
  right: 0;
  background-position: 100%;
  -webkit-transition: right 0.3s ease;
  -moz-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  -ms-transition: right 0.3s ease;
  transition: right 0.3s ease;
}
/*Changing the color of the nav bar on mbrs and marcustar page on carousel*/
.Color_nav
{
  color: #DAA520 !important;
}
/*media queries*/

@media (max-width: 1199px)
{
    #HomeMS_Title
    {
        font-size: 52px;
    }
    .Mbrs_IntroTextStyle
    {
      font-size: 62px;
      
    }
    .Mbrs_IntroTextBox 
    {
      margin-bottom:100px;
      right: 0% !important;
      left: 0% !important;
    }
    .Mbrs_captionPos .glyphicon
    {
      margin-bottom: 60px;
      
    }
    .Marc_IntroTextStyle
    {
      
      font-size: 60px;
    }
}
@media (max-width: 992px)
{
    #HomeMS_Title
    {
        font-size: 42px;
    }
    .Mbrs_IntroTextStyle
    {
      font-size: 42px;
      
    }
    .Mbrs_IntroTextBox 
    {
      margin-bottom:50px;
      right: 0% !important;
      left: 0% !important;
    }
    .Mbrs_captionPos .glyphicon
    {
      margin-bottom: 50px;
    }
    .Marc_IntroTextStyle
    {
      
      font-size: 42px;
    }
}
@media (max-width: 635px)
{
    #HomeMS_Title
    {
        font-size: 32px;
    }
    .Mbrs_IntroTextStyle
    {
      font-size: 32px;
      
    }
    .Mbrs_IntroTextBox 
    {
      margin-bottom:20px;
      right: 0% !important;
      left: 0% !important;
    }
    .Mbrs_captionPos .glyphicon
    {
      margin-bottom: 40px;
    }
    .Marc_IntroTextStyle
    {
      
      font-size: 32px;
    }
}
@media (max-width: 480px)
{
    #HomeMS_Title
    {
        font-size: 22px;
    }
    .Mbrs_IntroTextStyle
    {
      font-size: 22px;
      
    }
    .Mbrs_IntroTextBox 
    {
      margin-bottom:0px;
      right: 0% !important;
      left: 0% !important;
    }
    .Mbrs_captionPos .glyphicon
    {
      margin-bottom: 5px ;
    }
    .Marc_IntroTextStyle
    {
      
      font-size: 22px;
    }
}
.our_team_title{
    width: 1170px;
    padding-top: 50PX; 
    text-align: center;
}

.rise-faculty-list{
    margin-left: 10px;
}

.faculty-rank{
    color:#7575FF;
}

.faculty-name a:link{
    color:rgba(0, 41, 88, 0.901961);
    font-weight: bold;
}
.faculty-name a:visited{
    text-decoration: none;
}
.faculty-name a:hover{
    text-decoration: none;
}
.faculty-name a:active{
    text-decoration: none;
}

#Mbrs_Faculty_Title{
  margin-top: 50px
}
